.about{
  margin-top: 140px;
  margin-bottom: 112px;

  @media all and (max-width: 1080px) {
    margin-top: 88px;
    margin-bottom: 97px;
  }
  @media all and (max-width: 800px) {
    margin-bottom: 70px;
  }
  @media all and (max-width: 400px) {
    margin-top: 0px;
    margin-bottom: 53px;
  }

  &__sub_container{
    display: flex;
    padding-top: 25px;

    @media all and (max-width: 1080px) {
      padding-top: 68.5px;
    }
    @media all and (max-width: 800px) {
      padding-top: 40px;
    }
    @media all and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img{
    margin-left: -29px;

    @media all and (max-width: 1080px) {
      width: 443px;
      height: 432px;
      margin-left: -25px;
    }
    @media all and (max-width: 800px) {
      width: 385px;
      height: 388px;
      margin-left: -17px;
    }
    @media all and (max-width: 600px) {
      margin-left: 0;
    }
    @media all and (max-width: 400px) {
      width: 289px;
      height: 290px;
    }
  }

  &__inner{
    padding-top: 33px;

    @media all and (max-width: 1080px) {
      padding-top: 23px;
    }
    @media all and (max-width: 800px) {
      padding-top: 17px;
    }
    @media all and (max-width: 450px) {
      margin: 0 5px;
    }
  }

  &__title{
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 60px;

    @media all and (max-width: 1080px) {
      font-size: 28px;
    }

    @media all and (max-width: 800px) {
      font-size: 20px;
    }


    &__border{
      position: relative;
      padding-top: 16.5px;

      &__arrow{
        position: absolute;
        left: -20px;
        top: -13px;

        @media all and (max-width: 800px) {
          left: -16px;
          top: -2.6px;
        }
      }

      &__line{
        height: 2px;
        display: block;
        background: linear-gradient(89.99deg, #00D1FF 0%, rgba(255, 34, 141, 0) 100%);
      }
    }
  }

  &__description{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.78px;
    margin-bottom: 56px;
    max-width: 553px;

    @media all and (max-width: 1080px) {
      max-width: 386px;
      font-size: 18px;
    }
    @media all and (max-width: 800px) {
      font-size: 16px;
      max-width: 352px;
    }
    @media all and (max-width: 400px) {
      margin-bottom: 40px;
    }
  }

  &__list{
    list-style: none;

    @media all and (max-width: 1080px) {
      display: flex;
      flex-basis: 100%;
    }
    @media all and (max-width: 440px) {
      flex-direction: column;
    }

    &__item{
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      &:not(:last-child)  &__img{
        margin-left: -1.8px;
      }

      @media all and (max-width: 1080px) {
        margin-right: 32px;
      }
      @media all and (max-width: 400px) {
        margin-bottom: 18px;
      }

      &__title{
        font-family: Lato;
        font-size: 20px;
        font-weight: 600;
        margin-right: 24px;
        transition: 0.3s;

        &:hover{
          background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #08A6CE 0%, #6352B1 43.75%, #8B0EB7 68.75%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        @media all and (max-width: 1080px) {
          font-size: 18px;
          margin-right: 15px;
        }
      }

      &__imgBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;

      }
    }
  }


}


